/* ----------------ESTILOS DOS BODY E CONTAINERS----------------- */
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    font-family: 'Press Start 2P', monospace;
    background-image: url('../img/auth_img/fundo.png'); 
}
body.cadastro-bg {
  background-image: url('../img/auth_img/fundo.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

body.login-bg {
  background-image: url('../img/auth_img/fundolog.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
  }

.container{
    display: flex;
    width: 400px;
    height: 500px;
    background-color: rgba(236, 232, 232, 0.718);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;  
    font-family: 'Press Start 2P', monospace;
}
/* ------------------ESTILO DOS FORMULÁRIOS----------------- */
.input{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
input{
    height: 40px;
    padding: 5px;
    margin: 5px 0;  /* Adiciona um pequeno espaço vertical entre os inputs */
    border: none;
    border-radius: 70px;
}
.cadastro{
    font-family: 'Press Start 2P', monospace;
    display: flex;
    justify-content: center;
    color: black;
    font-size: 30px;
}


#login-form, .cadastro:nth-of-type(2) {
  display: none;
}

.botao{
    display: flex;
    width: 80px;
    height: 50px;
    border-radius: 70px;
    background-color: aliceblue;
    align-items: center;
    justify-content: center;
}

.btn_cadastro:hover{
    background-color: lightgreen;
    transition: 0.3s ease-in;
}
.btn_login:hover{
    background-color: rgb(224, 50, 224);
    transition: 0.3s ease-in;
}

.trocarForm_cadastro{
    color: limegreen;
    background-color: unset; 
    border-color: unset;
    border: none;
    font-size: 12pt; 
}

.trocarForm_cadastro:hover {
    color: green;
    font-size: 16pt;
    transition: 0.3s;
}

.trocarForm_login{
    color: darkorchid;
    background-color: unset; 
    border-color: unset;
    border: none;
    font-size: 12pt; 
}

.trocarForm_login:hover {
    color: purple;
    font-size: 16pt;
    transition: 0.3s;
}

.botoesForm {
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: center;
  gap: 20px; 
}


.password-container {
    position: relative;
    width: 100%;
}

.password-container input {
    width: 100%;
}

.toggle-password {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888; 
}