body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  font-family: 'Press Start 2P', monospace;
  background-image: url(../img/start/tela_start.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; /* Faz a imagem cobrir toda a área */
  margin: 0; /* Remove margens do body para evitar scroll */
  min-height: 100vh; /* Garante altura mínima de 100% da viewport */
}

.container {
  text-align: center;
}

.botao {
  font-size: 32px;
  padding: 20px 60px;
  border: none;
  border-radius: 30px;
  background: #4caf50;
  color: white;
  cursor: pointer;
  animation: pulse 1s infinite;
  font-family: 'Press Start 2P', monospace;
}

@keyframes pulse {
  0% { transform: scale(1);}
  50% { transform: scale(1.1);}
  100% { transform: scale(1);}
}